.container-game {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.gameContainer {
  margin: 1rem 1rem;
  border-radius: 10px;
  transform: translate(50px, 100px);
  transform: scale(0.8, 0.8);
  width: min-content;
  height: min-content;
  /* font-family: 'Comic Sans MS'; */
  font-family: 'Doctor Glitch';
  font-size: 14px;
  text-shadow: 3px 3px 5px #ffffff;
}

.gameContainer:hover {
  transform: scale(0.9, 0.9) rotate(1.1deg);
  transition: transform 0.4s ease-in-out;
}

.imgGame {
  height: 13rem;
  width: 15rem;
  margin: 0.5 rem;
  border-radius: 5px;
  box-shadow: 20px 20px 30px #292929;
  /* box-shadow: 10px 0px 100px #ff02d5; */
}

.start-fav {
  position: absolute;
  top: 0%;
  right: 0%;
  border: transparent;
}
.start-fav:hover {
  filter: saturate(180%);
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease ease-in-out;
  border: 1px solid #ffffff;
}

h3 {
  text-shadow: 1px 1px 5px #fc00009d;
  font-size: 23px;
  /* font-family: 'CF Anarchy'; */
  /* font-family: 'PaybAck'; */
  /* font-family: 'Super Mario 256'; */
  font-family: 'Urban Jungle';
  /* font-family: 'Vehicle Breaks Down'; */

  white-space: wrap;
}
