.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gameContainer {
  margin: 1rem 1rem;
  border-radius: 10px;
}

.imgGame {
  height: 13rem;
  width: 15rem;
  margin: 0.5 rem;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #7d3db9;
}

.imgCreateGame {
  margin-top: 1rem;
  width: 15rem;
  margin-right: 1rem;
}
.imgCreateGame:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.5s ease-in-out;
  filter: saturate(180%);
}

.img-fav:hover {
  filter: saturate(180%);
  cursor: pointer;
  transform: scale(1.1, 1.1) rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

h3 {
  text-shadow: 1px 1px 5px #fc00009d;
  font-size: 23px;
  /* font-family: 'CF Anarchy'; */
  /* font-family: 'PaybAck'; */
  /* font-family: 'Super Mario 256'; */
  font-family: 'Urban Jungle';
  /* font-family: 'Vehicle Breaks Down'; */

  white-space: wrap;
}
