.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gameContainer {
  margin: 1rem 1rem;
  border-radius: 10px;
  transform: translate(50px, 100px);
  transform: scale(0.9, 0.9);
}

.gameContainer:hover {
  transform: scale(1.1, 1.1) rotate(1.1deg);
  transition: transform 0.4s ease-in-out;
}

.imgGame {
  height: 13rem;
  width: 15rem;
  margin: 0.5 rem;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #7d3db9;
}

.img-home {
  margin: 0.5rem 0px;
  width: 30rem;
  filter: saturate(100%);
}

.img-home:hover {
  filter: saturate(250%);
}

.h1 {
  text-shadow: 1px 1px 5px #fc00009d;
  font-size: 5rem;
  /* font-family: 'CF Anarchy'; */
  /* font-family: 'PaybAck'; */
  font-family: 'Super Mario 256';
  /* font-family: 'Urban Jungle'; */
  /* font-family: 'Vehicle Breaks Down'; */
}
