h1 {
  font-family: 'Super Mario 256';
  font-size: 2.5rem;
  text-shadow: 5px 5px 30px #fc00009d;
}
.message--create {
  font-family: 'Super Mario 256';
  font-size: 2.5rem;
  text-shadow: 0 0 60px #00ffcba3;
}
.containerForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Super Mario 256';
}
.style-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create--confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonSubmit {
  min-width: 300px;
  min-height: 60px;
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Super Mario 256';
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(90deg, #81e6d9 0%, #4fd1c5 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #4fd1c5a3;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  transform: scale(0.7, 0.7);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

.buttonSubmit:hover {
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px #00ffcba3;
  background: linear-gradient(90deg, #c181e6 0%, #4fd1c5 100%);
  transform: scale(0.8, 0.8);
  transition: transform 0.3s ease-in-out;
}

.select-genres {
  padding: 0.5rem;
  margin: 1rem 1rem;
  border: 2px solid #00ffcba3;
  box-shadow: 12px 12px 24px #4fd1c5a3;
  display: flex;
  flex-wrap: wrap;
  min-width: min-content;
  min-height: min-content;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.contain-genre {
  border: 1px solid #00ffcba3;
  margin: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem;
}
.contain-genre:hover {
  box-shadow: 0 0 60px #00ffcba3;
  transform: scale(1.05, 1.05);
}
