.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 5px;
  background-attachment: fixed;
  position: -webkit-sticky;
  position: sticky;
  background-image: url('https://i.imgur.com/R3cpQ9R.gif');
  background-size: cover;
}

.imgCreateGame {
  margin-top: 1rem;
  width: 15rem;
  margin-right: 1rem;
}
.imgCreateGame:hover {
  transform: scale(1.1, 1.1) rotate(25deg);
  transition: transform 0.5s ease-in-out;
  filter: saturate(180%);
}
