.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-attachment: scroll;
  position: sticky;
  background-image: url('https://i.imgur.com/R3cpQ9R.gif');
  background-size: cover;
}
.navRef {
  color: white;
}
