.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gameContainer {
  margin: 1rem 1rem;
}

.imgGame {
  width: 20rem;
  height: 20rem;
  margin: 0.5 rem;
}
.search-videogame {
  border: 1px solid #393939;
  border-radius: 5px 5px 5px 5px;
  color: #2b2626;
  box-shadow: 3px 3px 10px #ab38e0;
}
